
* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
	padding: 50px 25px;
	min-height: 100%;
    background-position: center;
    background-size: cover;
	background-repeat: no-repeat;
}
h2 {
	font-size: 24px;
	text-align: align;
	color:white;
}
p {
	font-size: 15px;
	color: white;
	text-shadow: 1px 1px 3px black;
	float: left;
	
}


.header {
    padding: 20px;
    font-size: 40px;
    text-align: center;
    color:#5DDCC7;
}

.name {
	font-size: 24px;
	text-align: align;
	color:white;
}

.main {
	font-size: 14px;
	color:white;
}


.topnav {
	padding-left: 595px;
  
}


.topnav a {
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}


.topnav a:hover {
    background-color: black;
    color:#5DDCC7 ;
}

	.top-left {
	padding: 10px;
	}

.footer {
    padding: 20px;
    text-align: center;
    margin-top: 100px;
	color:#5DDCC7
    }
